/* RESET BÁSICO IMÁGENES DEL HEADER */
.main-header img {
  height: 24px;
}

/* ===== HEADER GENERAL ===== */
.main-header {
  width: 100dvw;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;

  background: linear-gradient(270deg, #0f6229c1, #054118);

}

/* ===== LOGO ===== */
.main-header .logo a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #f5f5f5;
}

.main-header .logo img {
  height: 32px;
}

.main-header .logo h2 {
  font-size: 1.2rem;
  color: #f5f5f5;
  line-height: 1;
  margin: 0;
  width: 40px;
  text-shadow: 1px 3px 0px #292929;
  letter-spacing: 1px;
}

/* ===== CONTENEDOR DERECHA (ICONOS + LOGIN) ===== */
.search-bar {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* iconos user / lupa */
.search-bar > img {
  cursor: pointer;
  transition: transform 0.1s ease-out, filter 0.1s ease-out;
}

.search-bar > img:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
}

/* ===== CAJAS DESPLEGABLES (LOGIN / SEARCH) ===== */
.search-box,
.auth-buttons {
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  transition: max-width 0.2s ease-out, opacity 0.2s ease-out;
}

/* al abrir */
.auth-buttons.open {
  max-width: 120px;
  opacity: 1;
}

.search-box.open {
  max-width: 130px;
  opacity: 1;
}

/* ===== INPUT SEARCH ===== */
.only-mobile {
  height: 26px;
  width: 100%;
  padding: 4px 8px;
  line-height: 1;
  border: 2px solid #2c5d27;
  border-radius: 4px;
  background: #102010;
  color: #f5f5f5;
  font-size: 0.85rem;
  outline: none;
}

.only-mobile::placeholder {
  color: #9fb69d;
  font-size: 0.8rem;
}

.only-mobile:focus {
  border-color: #4ad46b;
  box-shadow: 0 0 6px #4ad46b;
}

/* ===== BOTONES LOGIN / SIGNIN ===== */
.auth-buttons {
  display: flex;
  gap: 4px;
}

/* botón */
.auth-buttons button {
  height: 28px;
  padding: 0 8px;
  border: 2px solid #0d260d;
  border-radius: 4px;
  background: linear-gradient(180deg, #3faa2f, #1f6915);
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out,
    background 0.1s ease-out;
}

/* el link dentro del botón */
.auth-buttons button a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* hover botón */
.auth-buttons button:hover {
  background: linear-gradient(180deg, #335e2b, #1f5e19da);
}
