* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

font-family: 'Minecraft', sans-serif;
font-weight: 100;
  font-style: normal;
}

html, body, #root {
  width: 100dvw;
  min-height: 100%;
  overflow-x: hidden;

}